.EditPage-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.EditPage-Text {
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.EditPage-InputsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.EditPage-Input {
  background: none;
  border: none;
  border-bottom: 1px solid #61dafb;
  padding: 6px 4px;
  font-size: 14px;
  color: white;
}

.EditPage-Input:focus {
  outline: none;
  border-bottom: 1px solid #489eb6;
}

.EditPage-Button {
  margin-top: 20px;
  margin-bottom: 10px;
  align-self: center;
  height: 36px;
  width: 120px;
  background: none;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 16px;
}

.EditPage-Button:hover {
  cursor: pointer;
  color: #61dafb;
}

.EditPage-Button:focus {
  outline: none;
}
