.ReduxApp-Container {
   display: flex;
   flex-direction: column;
   min-width: 420px;
 }
 
 .ReduxApp-Button {
   align-self: center;
   height: 36px;
   width: 120px;
   border: 2px solid #61dafb;
   background: none;
   color: #61dafb;
   font-weight: 600;
   margin-bottom: 20px;
   margin-top: 8px;
 }
 
 .ReduxApp-Button:hover {
   cursor: pointer;
   background: #61dafb;
   color: white;
 }
 
 .ReduxApp-Button:focus {
   outline: none;
 }
 